/* custom.css */

:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b3;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability in Chrome, darken the scrollbar thumb in dark mode. */
@media (prefers-color-scheme: dark) {
  :root {
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  }
}

.footer {
  background-color: rgb(17, 17, 18);
}